# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

##  **Objectives:**
- Create a Jupyter Notebook
- List popular languages used by data scientists.
- List libraries commonly used by data scientists
- Create a table with data science tools.
- Present examples of arithmetic expressions.

## Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit learn
4. Scipy

## 
| Data Science Tools |
|----------------------------------|
| Apache hadoop |
| Apache Spark |
| Apache Storm |

### Below are a few examples of evaluating arithmetic expressions in Python:
2+3
2*3
2-3

In [5]:
## This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author
Carlos Gonzalez